<nav id="navbar">
  <div class="nav-container">
    <a href="index.html#home" class="logo">
      <div class="logo-icon"></div>
      <span>Веб_разработка/сайт BlackHole</span>
    </a>
    <ul class="nav-links">
      <li><a href="index.html#home">Главная</a></li>
      <li><a href="index.html#about">О черных дырах</a></li>
      <li><a href="index.html#types">Типы черных дыр</a></li>
      <li><a href="index.html#research">Исследования</a></li>
    </ul>
    <div class="mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
